
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-family: 16px;
  
  
}

main {
  margin: 8px auto;
  max-width: 760px;
  border-radius: 8px;
  padding: 8px;
  background-color: #EEEEEE;
  color: #333333;

  /* display: flex;
  flex-flow: column wrap; */
  gap: 24px;
}

section {
  margin: 56px 0;
}

header {
  text-align: center;
}

h1 { 
  font-size: 40px;
}

caption {
  font-size: 40px;

}

figure {
  background-color: white;
  padding: 16px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 16px;

}

figcaption {
  text-align: center;
}

h3 {
  text-align: center;
}

div {
  line-height: 150%;
}

ul li {
 margin: 24px 0;
}



q {
  font-style: italic;
}

cite {
  display: block;
  margin-top: 16px;
}

footer p {
  font-weight: bold;
  text-align: center;
  
}

footer p a {
  color: #477CA7;
  text-decoration: none;
}
